<!DOCTYPE html>
<html>
<head>
  <title>RecipeApp</title>
</head>
<body>

  <nav id="sidebar">
  <h3>Categories</h3>
    <ul id="categories">
      <% @categories.each do |category| %>
        <li><%= link_to category.name.titleize, category_path(category) %></li>
      <% end %>
    </ul>
  </nav>

  <main>
    <h1><%= @category.name %> Category</h1>
  </main>

</body>
</html>